*{
	margin: 0;
	padding: 0;
}

h1{
	color: #e84848;
}

.btn{
	height: 150px;
	width: 150px;
	margin: 5px;
	box-shadow: none;
}

.pokepoke {
    height: 150px;
    width: 152px;
    margin-left: -41px;
    background-color: #dbdbdb;
    border: 2px solid #e84848;
}

#icon_prefix {
    width: 530px;
}